@font-face {
    font-family: 'Montserrat';
    src: url('../Fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat Bolder';
    src: url('../Fonts/Montserrat-Black.ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../Fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat SBold';
    src: url('../Fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('../Fonts/Montserrat-Light.ttf');
}

*{
   -fx-font-family: "Montserrat";
   -fx-text-fill:white;
}

#topBar{
    -fx-background-color:#262825;
}

#body{
    -fx-background-color:#1c1c1c;
}

#closeButton {
    -fx-background-color: #d46b6d;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-font-size: 15px;
}

#closeButton:hover {
    -fx-background-color: #c84043;
    -fx-font-size: 15px;
}

#minimiseButton {
    -fx-background-color: #7D7159;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-font-size: 15px;
}

#minimiseButton:hover {
    -fx-background-color: #796030;
    -fx-font-size: 15px;
}

