VBox{
    -fx-background-color:rgba(15, 15, 15, 0.3);
    -fx-background-radius: 3;

}

Label{
    -fx-font-size:25;
   -fx-font-weight:bolder;
}

TextField{
    -fx-border-radius:5;
    -fx-font-size:16;
    -fx-background-color:rgba(68, 69, 67, 0.31);
}

TextField:focused{
    -fx-background-color:rgba(120, 120, 120, 0.5);
    -fx-border-color: rgba(214, 155, 32, 0.26);
    -fx-border-width: 1;
}

Button{
    -fx-background-color: rgba(235, 205, 19, 0.85);
    -fx-font-weight:bold;
    -fx-text-fill:black;
    -fx-cursor: hand;
}

Button:hover{
    -fx-background-radius:50;
    -fx-background-color: rgba(235, 205, 19, 1);
}

#signUpLabel,#logInLabel{
    -fx-text-fill: rgba(235, 205, 19, 0.85);
    -fx-font-size:12;
}

#signUpLabel:hover,#logInLabel:hover{
    -fx-underline: true;
    -fx-cursor: hand;
}

DatePicker{
    -fx-background-color: rgba(235, 205, 19, 1);
    -fx-color:rgba(68, 69, 67, 1);
}

.date-picker-popup > .month-year-pane {
    -fx-base: #1d1d1d ;
    -fx-mark-highlight-color: black ;
}

.calendar-grid {
    -fx-background-color: #4d4d4f;
}

.date-picker .date-cell {
    -fx-background-color: rgba(68, 69, 67, 1);
}

.date-picker .date-cell:hover {
    -fx-background-color: rgba(168, 169, 167, 1);
}

.date-picker .date-cell:focused {
    -fx-background-color: rgba(120, 120, 120, 1);
}

.date-picker > .text-field {
    -fx-text-fill: black;
}

